setuptools>=65.0.0
wheel
build
absl-py==2.2.2
aiodns==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.9.1
aiosignal==1.3.2
alembic==1.16.1
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
astroid==3.3.10
astunparse==1.6.3
asyncio==3.4.3
attrs==25.3.0
beautifulsoup4==4.13.4
binance==0.3.6
bitarray==3.4.2
black==25.1.0
blinker==1.9.0
cachetools==5.5.2
catboost==1.2.8
ccxt==4.4.82
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ckzg==2.1.1
click==8.1.8
cloudpickle==3.1.1
colorlog==6.9.0
contourpy==1.3.2
coverage==7.8.1
cryptography==44.0.3
curl_cffi==0.11.1
cvxopt==1.3.2
cycler==0.12.1
cytoolz==1.0.1
databricks-sdk==0.53.0
dateparser==1.2.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.4.0
distro==1.9.0
docker==7.1.0
dynaconf==3.2.11
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
evidently==0.7.5
Faker==37.3.0
Farama-Notifications==0.0.4
fastapi==0.115.12
filelock==3.18.0
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.58.0
frozendict==2.4.6
frozenlist==1.6.0
fsspec==2025.5.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.2
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
grpcio==1.71.0
gunicorn==23.0.0
gymnasium==1.1.1
h11==0.16.0
h5py==3.13.0
hexbytes==1.3.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.31.4
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
isort==6.0.1
iterative-telemetry==0.0.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
keras==2.15.0
kiwisolver==1.4.8
libclang==18.1.1
lightning==2.5.1.post0
lightning-utilities==0.14.3
litestar==2.16.0
litestar-htmx==0.4.1
llvmlite==0.44.0
loguru==0.7.2
Mako==1.3.10
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.2.0
mlflow==2.22.0
mlflow-skinny==2.22.0
mpmath==1.3.0
msgspec==0.19.0
multidict==6.4.3
multipart==1.2.1
multitasking==0.0.11
mypy==1.15.0
mypy_extensions==1.1.0
namex==0.0.9
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numba==0.61.2
numpy==1.26.3
oauthlib==3.2.2
openai==0.28.0
opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opt_einsum==3.4.0
optree==0.15.0
optuna==4.3.0
packaging==24.2
pandas==2.1.4
pandas_ta==0.3.14b0
parsimonious==0.10.0
pathspec==0.12.1
patsy==1.0.1
pbr==6.1.1
peewee==3.18.1
pillow==11.2.1
platformdirs==4.3.8
plotly==5.24.1
pluggy==1.6.0
ply==3.11
polyfactory==2.21.0
prometheus_client==0.22.0
propcache==0.3.1
protobuf==4.25.7
psutil==7.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==4.8.0
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pylint==3.3.7
pyparsing==3.2.3
pyTelegramBotAPI==4.26.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
python-binance==1.0.19
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-telegram-bot==22.1
pytorch-forecasting==1.3.0
pytorch-lightning==2.5.1.post0
pytz==2025.1
pyunormalize==16.0.0
PyYAML==6.0.2
qiskit==0.45.0
qiskit-terra==0.45.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==14.0.0
rich-click==1.8.9
river==0.21.2
rlp==4.1.0
rsa==4.9.1
rustworkx==0.16.0
safetensors==0.5.3
scikit-learn==1.4.0
scipy==1.15.3
seaborn==0.13.2
shap==0.47.2
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
sqlparse==0.5.3
stable_baselines3==2.6.0
starlette==0.46.2
statsmodels==0.14.4
stevedore==5.4.1
symengine==0.9.2
sympy==1.14.0
ta==0.11.0
ta-lib==0.6.3
tenacity==9.1.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-macos==2.15.0
termcolor==3.1.0
textblob==0.19.0
threadpoolctl==3.6.0
tokenizers==0.21.1
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.0
torchmetrics==1.7.1
tqdm==4.67.1
transformers==4.52.2
typer==0.15.4
types-requests==2.32.0.20250515
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.1
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.3.0
uuid6==2024.7.10
uvicorn==0.34.2
uvloop==0.21.0
watchdog==6.0.0
watchfiles==1.0.5
web3==7.11.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.14.1
yarl==1.20.0
yfinance==0.2.61
zipp==3.21.0
